
$background-color: #F8F5FA;
$border-color: #2A232E; /*#D9D1DE;*/
$color: #2A232E;

$timer-container-background-color: #988E9E;
$timer-background-color: #FFD700; /*#FFD900;*/ /* #612782;*/

$list-element-background-color: #F4F0F7;

$letter-background-color: #412969;