

@font-face {
    font-family: rubik-black;
    src: url(../fonts/Rubik-BlackItalic.ttf);
}

@font-face {
    font-family: rubik-normal;
    src: url(../fonts/Rubik-Bold.ttf);
}

@font-face {
    font-family: rubik-lighter;
    src: url(../fonts/Rubik-light.ttf);
}